.logo-header {
  font-size: 24px;
}

.bg-dark {
  background-color: #1a3729 !important;
  /* background-color: transparent !important; */
}
.dynamic-navbar {
  background-color: transparent !important;
  position: absolute !important;
  top: 0 !important;
}

.navbar-toggler {
  color: white !important;
  background-color: white !important;
}

.custom-container {
  padding-left: 0;
  padding-right: 0;
}

@media screen and (min-width: 992px) {
  /* This code will only apply to devices with a screen width of 992px or more */
  .contact {
    border-radius: 5%;
    border: 2px solid white;
    margin-left: 2rem;
  }
}
