{%extends 'index.html'%} {%block content%}

<div class="about-container">
  <h1 class="about-title">Despre SRIM</h1>
  <p class="about-text">
    SRIM este o organizaţie ştiinţifică, profesională şi non-guvernamentală.
    SRIM îşi propune să promoveze cercetarea activă şi dezvoltarea comunităţilor
    informaticii medicale în domeniul academic, comercial şi medical atît în
    ţară cît şi în străinătate.
  </p>

  <h2 class="about-header">Istoric</h2>
  <p class="about-text">
    Romania a fost reprezentată ca membru corespondent IMIA încă din 1986 şi a
    devenit membru IMIA cu drepturi depline în 1994. în prezent are
    reprezentanţi în mai multe grupe de lucru din IMIA şi EFMI. Tot în 1994 SRIM
    a devenit şi membru EFMI.
  </p>

  <p class="about-text">
    În prezent, SRIM are peste 120 de membri: medici, experţi IT, ingineri,
    matematicieni şi alţi profesionişti care îşi desfăşoară activitatea în
    domeniul informaticii medicale. Organizaţia continuă activitatea unui grup
    de specialişti care a început să lucreze în acest domeniu încă din anul
    1977.
  </p>

  <h2 class="about-header">Activităţi SRIM</h2>
  <p class="about-text">
    Activităţile SRIM implică stimularea şi coordonarea activităţilor membrilor
    săi întru promovarea informaticii medicale în ţară şi sprijină cooperarea
    internaţională în acest domeniu prin:
  </p>

  <ul>
    <li>
      Organizarea conferinţelor ştiinţifice şi profesionale, simpozioane,
      cursuri şi expoziţii şi colaborare în activităţi similare cu organizaţii
      înrudite;
    </li>
    <li>
      Publicarea documentelor şi articolelor ştiinţific, profesionale şi
      educaţionale în domeniul informaticii medicale;
    </li>
    <li>
      Diseminarea informaţiei referitoare la conferinţe, publicaţii şi link-uri
      către site-uri de web despre informatică medicală;
    </li>
    <li>
      Promovarea contactelor ştiinţifice şi profesionale la nivel internaţional
      cu organizaţii similare;
    </li>
    <li>
      Implicare activă pentru sprijinirea specialiştilor în vederea participării
      la evenimente internaţionale;
    </li>
    <li>
      Colaborarea cu Academia Romînă şi cu Academia de Ştiinţe Medicale în
      domeniul cercetării în informatica medicală;
    </li>
    <li>
      Colaborarea cu universităţile de profil medical pentru promovarea şi
      dezvoltarea educaţiei şi instruirii în informatica medicală.
    </li>
  </ul>

  <p class="about-text">
    Membri SRIM activează în mai multe comitete ştiinţifice şi profesionale şi
    în cîteva grupuri de experţi ale Ministerului Sănătăţii şi al Ministerului
    Educaţiei. Preşedintele SRIM a fost ales recent preşedinte EFMI. SRIM este
    membru instituţional al "Prorec", o societate care promovează implementarea
    dosarului electronic al pacientului în România.
  </p>

  <p class="about-text">
    Pentru un istoric complet al participărilor SRIM la evenimente
    internaţionale <a href="#">click aici</a> şi <a href="#">aici</a> pentru
    cele naţionale.
  </p>
</div>
{%endblock content%}
