{% extends 'index.html' %} {%load static%} {%block content%}
<div class="blog-container">
  <h1>Noutăți</h1>

  {% for post in blog_posts %}
  <div class="blog-wrapper">
    {%if post.post_img%}
    <img src="{{post.post_img.url}}" class="post-image" loading="lazy" />
    {%else%}
    <img
      loading="lazy"
      src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1172&q=80"
      class="post-image"
    />
    {%endif%}
    <h2>{{ post.title }}</h2>

    <div class="date-wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 18 18"
        class="svg-img"
      >
        <defs>
          <style>
            .clk {
              fill: #999;
            }
          </style>
        </defs>
        <g transform="translate(-2 -2)">
          <g transform="translate(2 2)">
            <path
              class="clk"
              d="M11,2a9,9,0,1,0,9,9A9.026,9.026,0,0,0,11,2Zm0,16.2A7.2,7.2,0,1,1,18.2,11,7.21,7.21,0,0,1,11,18.2Z"
              transform="translate(-2 -2)"
            ></path>
            <path
              class="clk"
              d="M12.35,7H11v5.4l4.68,2.88.72-1.17-4.05-2.43Z"
              transform="translate(-2.9 -2.5)"
            ></path>
          </g>
        </g>
      </svg>
      <p class="post-date">{{post.created_at}}</p>
    </div>

    <div class="post-creator">
      {%if post.author_img%}
      <img src="{{post.author_img.url}}" class="post-avatar" />
      {%else%}
      <img
        src="https://www.pinclipart.com/picdir/big/148-1486972_mystery-man-avatar-circle-clipart.png"
        class="post-avatar"
      />
      {%endif%} {%if post.author and post.author_title%}
      <p class="post-author">
        {{ post.author_title|add:' ' }}{{ post.author }}
      </p>
      {%else%}
      <p class="post-author">No author</p>
      {%endif%}
    </div>

    <p>{{ post.content|safe|truncatechars:400 }}</p>
    <a href="{{ post.get_absolute_url }}" class="post-link">CONTINUE READING</a>
  </div>
  {% empty %}
  <p>No posts yet.</p>
  {% endfor %}

  <div class="pagination">
    {% if blog_posts.has_previous %}
    <a href="?page={{ blog_posts.previous_page_number }}" class="new-posts"
      >NEW POSTS</a
    >
    {% endif %}

    <span class="current-page">{{ blog_posts.number }}</span>

    {% if blog_posts.has_next %}
    <a href="?page={{ blog_posts.next_page_number }}" class="old-posts"
      >OLDER POSTS</a
    >
    {% endif %}
  </div>
</div>
{%endblock%}
