{%extends 'index.html'%} {%block content%}
<div class="board-container">
  <h1>Echipa SRIM</h1>

  <p class="title">Președinte ales:</p>
  <p>
    Prof. Dr. Sorana D. Bolboacă - Universitatea de Medicină şi Farmacie “Iuliu
    Haţieganu” Cluj-Napoca
  </p>

  <p class="title">Președinte (2010 - ):</p>
  <p>
    Prof. Dr. Ing. Lăcrămioara Stoicu-Tivadar - Universitatea Politehnica
    Timișoara
  </p>

  <p class="title">Președinte de onoare:</p>
  <p>Acad. Prof. Dr. Gheorghe-Ioan Mihalaş - UMF “Victor Babeş”, Timişoara</p>

  <p class="title">Reprezentat IMIA:</p>
  <p>Acad. Prof. Dr. Gheorghe-Ioan Mihalaş - UMF “Victor Babeş”, Timişoara</p>

  <p class="title">Reprezentant EFMI:</p>
  <p>
    Prof. Dr. Ing. Lăcrămioara Stoicu-Tivadar - Universitatea Politehnica
    Timișoara, Vicepreședinte IMIA
  </p>

  <h2>Membrii de onoare SRIM</h2>
  <ul>
    <li>Acad. Prof. Dr. Virgil Enătescu (2010-2020)</li>
    <li>
      Prof. Dr. Ioana Moisil, Universitatea Lucian Blaga University Sibiu
      (2014-)
    </li>
    <li>
      Prof. Dr. Ștefan Țigan, Universitatea de Medicină și Farmacie “Iuliu
      Hațieganu” Cluj-Napoca (2019-)
    </li>
  </ul>

  <h2>Vicepreședinți:</h2>
  <ul>
    <li>
      Prof. Dr. Marius Ștefan Măruşteri – Universitatea de Medicină, Farmacie,
      Științe și Tehnologie “George Emil Palade” din Târgu Mureş
    </li>
    <li>
      Conf. Dr. Corina Violeta Vernic - Universitatea de Medicină și Farmacie
      “Victor Babeș” din Timișoara
    </li>
    <li>
      Dr. Ing. Sorin Pușcoci - Institutul Național de Studii și Cercetări pentru
      Comunicații, București
    </li>
    <li>
      Conf. Dr. Cristina Gena Dascălu – Universitatea de Medicină și Farmacie
      “Grigore T. Popa”
    </li>
  </ul>

  <p class="title">Secretar:</p>
  <p>Ș.L. Dr. Ing. Mihaela Crișan-Vida - Universitatea Politehnica Timișoara</p>

  <p class="title">Cenzor:</p>
  <p>Ș.L. Dr. Inf. Oana-Sorina Chirilă - Universitatea Politehnica Timișoara</p>
</div>
{%endblock content%}
