{%extends 'index.html'%} {%block content%}

<div class="board-container">
  <h1>Echipa SRIM</h1>

  <div class="member">
    <img src="avatar_president_elected.png" alt="Avatar" class="board-avatar" />
    <p class="board-title member">Președinte ales:</p>
    <p class="member">
      Prof. Dr. Sorana D. Bolboacă - Universitatea de Medicină şi Farmacie
      “Iuliu Haţieganu” Cluj-Napoca
    </p>
  </div>

  <div class="member">
    <img src="avatar_president.png" alt="Avatar" class="board-avatar" />
    <p class="board-title member">Președinte (2010 - ):</p>
    <p class="member">
      Prof. Dr. Ing. Lăcrămioara Stoicu-Tivadar - Universitatea Politehnica
      Timișoara
    </p>
  </div>

  <div class="member">
    <img src="avatar_president_honour.png" alt="Avatar" class="board-avatar" />
    <p class="board-title member">Președinte de onoare:</p>
    <p class="member">
      Acad. Prof. Dr. Gheorghe-Ioan Mihalaş - UMF “Victor Babeş”, Timişoara
    </p>
  </div>

  <div class="member">
    <img
      src="avatar_imia_representative.png"
      alt="Avatar"
      class="board-avatar"
    />
    <p class="board-title member">Reprezentat IMIA:</p>
    <p class="member">
      Acad. Prof. Dr. Gheorghe-Ioan Mihalaş - UMF “Victor Babeş”, Timişoara
    </p>
  </div>

  <div class="member">
    <img
      src="avatar_efmi_representative.png"
      alt="Avatar"
      class="board-avatar"
    />
    <p class="board-title member">Reprezentant EFMI:</p>
    <p class="member">
      Prof. Dr. Ing. Lăcrămioara Stoicu-Tivadar - Universitatea Politehnica
      Timișoara, Vicepreședinte IMIA
    </p>
  </div>

  <h2 class="board-subtitle">Membrii de onoare SRIM</h2>
  <div class="member">
    <img src="avatar_member1.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Acad. Prof. Dr. Virgil Enătescu (2010-2020)
    </p>
  </div>
  <div class="member">
    <img src="avatar_member2.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Prof. Dr. Ioana Moisil, Universitatea Lucian Blaga University Sibiu
      (2014-)
    </p>
  </div>
  <div class="member">
    <img src="avatar_member3.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Prof. Dr. Ștefan Țigan, Universitatea de Medicină și Farmacie “Iuliu
      Hațieganu” Cluj-Napoca (2019-)
    </p>
  </div>

  <h2 class="board-subtitle">Vicepreședinți:</h2>
  <div class="member">
    <img src="avatar_vicepresident1.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Prof. Dr. Marius Ștefan Măruşteri – Universitatea de Medicină, Farmacie,
      Științe și Tehnologie “George Emil Palade” din Târgu Mureş
    </p>
  </div>
  <div class="member">
    <img src="avatar_vicepresident2.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Conf. Dr. Corina Violeta Vernic - Universitatea de Medicină și Farmacie
      “Victor Babeș” din Timișoara
    </p>
  </div>
  <div class="member">
    <img src="avatar_vicepresident3.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Dr. Ing. Sorin Pușcoci - Institutul Național de Studii și Cercetări pentru
      Comunicații, București
    </p>
  </div>
  <div class="member">
    <img src="avatar_vicepresident4.png" alt="Avatar" class="board-avatar" />
    <p class="board-listing member">
      Conf. Dr. Cristina Gena Dascălu – Universitatea de Medicină și Farmacie
      “Grigore T. Popa”
    </p>
  </div>

  <div class="member">
    <img src="avatar_secretary.png" alt="Avatar" class="board-avatar" />
    <p class="board-title member">Secretar:</p>
    <p class="member">
      Ș.L. Dr. Ing. Mihaela Crișan-Vida - Universitatea Politehnica Timișoara
    </p>
  </div>

  <div class="member">
    <img src="avatar_auditor.png" alt="Avatar" class="board-avatar" />
    <p class="board-title member">Cenzor:</p>
    <p class="member">
      Ș.L. Dr. Inf. Oana-Sorina Chirilă - Universitatea Politehnica Timișoara
    </p>
  </div>
</div>

{%endblock content%}
