{% extends 'index.html' %} {%load static%} {%block content%}

<div class="banner-container">
  <img src={% static 'assets/banner-img.jpg'%} class='banner-img'/>
  <div class="main-conference-wrapper">
    <h1 class="main-header">Conferinta RoMedinf 2023</h1>
    <h3 class="main-description">
      Healthcare green digital Ecosystems: From Data Analyis to Digital Twin
    </h3>
    <h4 class="main-date">14-15 Septembrie 2023</h4>
    <a
      href="https://sites.google.com/view/romedinf-2023/?pli=1"
      target="_blank"
    >
      <button class="main-btn">Verifică</button>
    </a>
  </div>
</div>

<h1>SE APROPIE DE CONFERINȚE</h1>

<div class="cards-container">
  {% for conference in conferences %}
  <div class="card">
    {%if conference.imgUrl%}
    <img
      src="{{conference.imgUrl.url}}"
      class="card-img-top"
      alt="{{conference.name}}"
    />
    {%else%}
    <img
      src="https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1033&q=80"
      class="card-img-top"
      alt="{{conference.name}}"
    />
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{conference.name}}</h5>
      <p class="card-text">{{conference.description}}</p>
      <a
        href="{{conference.link}}"
        target="_blank"
        class="btn btn-outline-primary"
        >linkul conferinței</a
      >
    </div>
  </div>
  {% endfor %%} {%endblock content%}
</div>
