{% extends 'index.html' %} {%load static%} {%block content%}

{% comment %} <div class="banner-container">
  <img src={% static 'assets/banner-img.jpg'%} class='banner-img'/>
  <div class="main-conference-wrapper">
    <h1 class="main-header">Conferinta RoMedinf 2023</h1>
    <h3 class="main-description">
      Healthcare green digital Ecosystems: From Data Analyis to Digital Twin
    </h3>
    <h4 class="main-date">14-15 Septembrie 2023</h4>
    <a
      href="https://sites.google.com/view/romedinf-2023/?pli=1"
      target="_blank"
    >
      <button class="main-btn">Verifică</button>
       </br>
       {% if latest_bulletin %}
       <a href="{{ latest_bulletin.bulletinMagazine.url }}" target="_blank" class="btn btn-outline main-btn">
          cel mai recent buletin informativ
       </a>
     {% endif %}
     
    </a>
  </div>
</div> {% endcomment %}

<div class='banner-container'>
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {%for content in slider_content%}
      <div class="swiper-slide slide">
        <div class="slide-content">  
          {%if content.img_url%}
          <img src='{{content.img_url.url}}' class='banner-img '/>
          {%else%}
          <img src={% static 'assets/banner-img.jpg'%} class='banner-img '/>
          {%endif%}
          <div class='content-wrapper'>

            <h1 class='slider-header slide-in-fwd-top'>{{content.title}}</h1>
            <h4 class='slider-text fade-in'>{{content.event_description}}</h4>
            <a href="" target="_blank" class="btn btn-outline main-btn slide-in-bottom">
              View More
           </a>
          </div>
          <span class='scroll-down'></span>
          </div>
      </div>
      {%endfor%}
      {% comment %} <div class="swiper-slide slide">
        <div class="slide-content">  
          <img src={% static 'assets/banner-img2.jpg'%} class='banner-img'/>
          <div class='content-wrapper'>
          <h1 class='slider-header'>Slide content</h1></div>
        </div>
      </div> {% endcomment %}
      {% comment %} <div class="swiper-slide slide_3">
        <div class="slide-content">Slide 3</div>
      </div>
      <div class="swiper-slide slide_4">
        <div class="slide-content">Slide 4</div>
      </div>
      <div class="swiper-slide slide_5">
        <div class="slide-content">Slide 5</div>
      </div> {% endcomment %}
    </div>
  </div>
<div class="swiper-pagination"></div>
<div class="swiper-scrollbar"></div>
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>

<h1 class='title'>Noutati de la SRIM</h1>

<div class="cards-container">
  {% for post in blog_posts %}
  <div class="card">
    {%if post.post_img%}
    <img
      src="{{post.post_img.url}}"
      class="card-img-top"
      alt="{{conference.title}}"
    />
    {%else%}
    <img
      src="https://images.unsplash.com/photo-1477281765962-ef34e8bb0967?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1033&q=80"
      class="card-img-top"
      alt="{{conference.name}}"
    />
    {%endif%}
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class='created-at'>{{post.created_at}}</h6>

      <a href="{{ post.get_absolute_url }}" class="post-link">CONTINUE READING</a>
    </div>
  </div>
  {% endfor %%}
</div>

<div class='other-posts-wrapper'>
  <a class="btn other-posts" href="/blog" role="button">
    See Other Posts
  </a>
</div>

  <div class='main-container'>
    <div class="form-container">
      <h2>Verificați conferințele care se apropie</h2>
      <form method="post" class="form-grid">
        {% csrf_token %}
          <div>
              <label for="start_date">Start Date</label>
              <input type="date" class="form-control" id="start_date" name="start_date" required>
          </div>
          <div>
              <label for="end_date">End Date</label>
              <input type="date" class="form-control" id="end_date" name="end_date" required>
          </div>
          <button type="submit" class="btn btn-primary mb-2">Check</button>
      </form>


  </div>
  <div class='links-container text-center'>
    <h2>Linkuri</h2>
    <div class="list-group">
      <a href="https://rohealth.ro/" target="_blank" class="list-group-item list-group-item-action">RoHealth - Clusterul pentru Sanatate si Bioeconomie</a>
      <a href="https://efmi.org/" target="_blank" class="list-group-item list-group-item-action">EFMI - European Federation of Medical Informatics</a>
      <a href="https://imia-medinfo.org/wp/" target="_blank" class="list-group-item list-group-item-action">IMIA - International Medical Informatics Association</a>
      <a href="https://amia.org/" target="_blank" class="list-group-item list-group-item-action">AMIA</a>
      <a href="https://www.sciencedirect.com/journal/international-journal-of-medical-informatics" target="_blank" class="list-group-item list-group-item-action">International Journal of Medical Informatics</a>
      <a href="https://www.thieme-connect.com/products/ejournals/journal/10.1055/s-00035037" target="_blank" class="list-group-item list-group-item-action">Methods of Information in Medicine</a>
      <a href="https://ami.info.umfcluj.ro/index.php/AMI" target="_blank" class="list-group-item list-group-item-action">Applied Medical Informatics</a>
      <a href="https://www.politicidesanatate.ro/" target="_blank" class="list-group-item list-group-item-action">Politici de Sănătate</a>
      <a href="https://www.ms.ro/ro/" target="_blank"  class="list-group-item list-group-item-action">Ministerul Sănătăţii</a>
      <a href="https://www.comunicatii.gov.ro/" target="_blank"  class="list-group-item list-group-item-action">Ministerul pentru Societatea Informaţională</a>
    </div>
  </div>
  </div>
  

  {%endblock content%}

