{% extends 'index.html' %} {%load static%} {%block content%}
<div class="lucru-container">
  <h1 class="lucru-title">Grupuri de lucru</h1>
  <div class="lucru-wrapper">
      <!-- HEALTH AND EDUCATION MONITORUNG-->
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1530213786676-41ad9f7736f6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
          class="card-img-top animated"
          alt="lucru"
        />
        <div class="card-body">
          <h5 class="card-title animated">
            WG HECTOR - Health Education and Monitoring
          </h5>
          <a href="/grupuri-lucru/hector" class="post-link animated">VEZI MAI MULT</a>
        </div>
      </div>

        <!-- Nursing Informatics in Healthcare -->
      <div class="card">
        <img
          src="https://images.unsplash.com/flagged/photo-1551049215-23fd6d2ac3f1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1476&q=80"
          class="card-img-top animated"
          alt="lucru"
        />
        <div class="card-body">
          <h5 class="card-title animated">
            WG NURSER  - Nursing Informatics in Healthcare 
          </h5>
          <a href="/grupuri-lucru/nurser" class="post-link animated">VEZI MAI MULT</a>
        </div>
      </div>

      <!--Medical Data Management and Analysis-->
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1542744173-05336fcc7ad4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2002&q=80"
          class="card-img-top animated"
          alt="lucru"
        />
        <div class="card-body">
          <h5 class="card-title animated">
            WG MADMAN - Medical Data Management and Analysis
          </h5>
          <a href="/grupuri-lucru/madman" class="post-link animated">VEZI MAI MULT</a>
        </div>
      </div>

        <!--Healthcare technologies-->
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1511174511562-5f7f18b874f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
          class="card-img-top animated"
          alt="lucru"
        />
        <div class="card-body">
          <h5 class="card-title animated">
            WG HEARTH - Healthcare Technologies
          </h5>
          <a href="/grupuri-lucru/hearth" class="post-link animated">VEZI MAI MULT</a>   
        </div>
      </div>

    <!--Telemedicine and Telehealth Care-->
      <div class="card">
        <img
          src="https://plus.unsplash.com/premium_photo-1667511010013-2a914367c071?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80"
          class="card-img-top animated"
          alt="lucru"
        />
        <div class="card-body">
          <h5 class="card-title animated">
            WG TENDER - Telemedicine and Telehealth Care
          </h5>
          <a href="/grupuri-lucru/tender" class="post-link animated">VEZI MAI MULT</a>
        </div>
      </div>
    </div>
  </div>


  {%endblock %}
</div>
