{%extends 'index.html'%} {%block content%}
<div class="membership-container">
  <div>
    <h1>Cum devin membru SRIM</h1>
  </div>

  <div>
    <p class="title">Cum să aplic:</p>
    <p>
      Solicitările de înscriere în SRIM se fac prin trimiterea unui mail către
      adresa romedinf.secretariat@gmail.com în care se specifică: nume, prenume,
      instituția, adresa de corespondentă, e-mail, motivația pentru a fi membru
      SRIM.
    </p>
  </div>

  <div class="section">
    <h2>Taxe 2022:</h2>
    <ul>
      <li>Individual: 150 RON/an</li>
      <li>Studenți (licenta/masterat/doctorat): 50 RON/an</li>
      <li>Instituții: 100 Euro (plata în lei la cursul BNR)</li>
    </ul>
  </div>

  <div class="section">
    <h2>Taxe 2023:</h2>
    <ul>
      <li>Individual: 150 RON/an</li>
      <li>Studenți (licenta/masterat/doctorat): 50 RON/an</li>
      <li>Instituții: 100 Euro (plata în lei la cursul BNR)</li>
    </ul>
  </div>

  <div class="section">
    <p class="title">Cont IBAN:</p>
    <p>RO66RNCB0249048854030001 (RON)</p>
  </div>
</div>
{%endblock%}
