{%load static%}
<nav
  class="navbar fixed-top navbar-expand-lg {%if dynamic_navbar == 'navbar-dynamic'%}dynamic-navbar {%else%}bg-dark{%endif%}"
>
  <div class="container-fluid mx-4 custom-container">
    <img
      src="{% static 'assets/logo.png'%}"
      width="45"
      height="45"
      style="margin-right: 10px; border-radius: 50px"
    />
    <a class="navbar-brand fs-1" href="/" style="color: white">SRIM</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end mt-2">
      <h4 style="color: white">SOCIETETEA ROMANA DE INFORMATICA MEDICALA</h4>
    </div>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item navItem">
          <a
            class="nav-link active"
            aria-current="page"
            href="/"
            style="color: white"
            >Acasa</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="/organizers"
            style="color: white"
            >Organizatori</a
          >
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            DESPRE SRIM
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/about">Despre SRIM</a></li>
            <li><a class="dropdown-item" href="/board">Board</a></li>
            <li><a class="dropdown-item" href="/membership">Membri</a></li>
            <li>
              <a
                class="dropdown-item"
                href="{{status_report.document.url}}"
                target="_blank"
                >Statut</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="/grupuri-lucru"
                >Grupuri de lucru</a
              >
            </li>
          </ul>
        </li>

        <a class="nav-link" href="/romedinf" role="button" style="color: white">
          RoMedInf
        </a>

        <a class="nav-link" href="/blog" role="button" style="color: white">
          Noutati
        </a>

        <a class="nav-link" href="/archives" role="button" style="color: white">
          Arhiva
        </a>

        <a class="nav-link contact" href="/contact" style="color: white">
          Contact
        </a>
      </ul>
    </div>
  </div>
</nav>
